<div style="position:relative;padding-top:56.25%;">
<iframe src="{{.Get 0}}" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>
